<!DOCTYPE html>

<html>

    <head>
        {{>links}}
        <link rel="icon" href="/pics/cloud.png">
    </head>

    <body>
        {{>header}}
        <div = class="about-div">
            <p>Powered by mapbox.com and weatherstack.com</p>
            <img class="portrait" src="/pics/weatherstack.png">
            <p>My name is {{name}}.  I am an aspiring developer and this is my first website.</p>
            {{>footer}}
        </div>
    </body>

</html>