<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/pics/cloud.png">
    </head>

    <body>
        {{>header}}
        <img class="portrait" src="/pics/adem friedland.jpg">
        <p>this is a picture of {{his_name}}</p>
        {{>footer}}
    </body>

</html>