<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/pics/cloud.png">
    </head>

    <body>
        {{>header}}
        <p>Powered by mapbox.com and weatherstack.com</p>
        <img class="portrait" src="/pics/weatherstack.png">
        <p>My name is {{name}}.  I am an aspiring developer and this is my first website</p>
        {{>footer}}
    </body>

</html>