<!DOCTYPE html>

<html>

    <head>
<<<<<<< HEAD
        {{>links}}
=======
        <link rel="stylesheet" href="/css/styles.css">
>>>>>>> 9a964441d061ad3b6adce14693e7c67593c4121c
        <link rel="icon" href="/pics/cloud.png">
    </head>

    <body>
        {{>header}}
<<<<<<< HEAD
        <div = class="about-div">
            <p>Powered by mapbox.com and weatherstack.com</p>
            <img class="portrait" src="/pics/weatherstack.png">
            <p>My name is {{name}}.  I am an aspiring developer and this is my first website.</p>
            {{>footer}}
        </div>
=======
        <p>Powered by mapbox.com and weatherstack.com</p>
        <img class="portrait" src="/pics/weatherstack.png">
        <p>My name is {{name}}.  I am an aspiring developer and this is my first website</p>
        {{>footer}}
>>>>>>> 9a964441d061ad3b6adce14693e7c67593c4121c
    </body>

</html>