<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}

        {{>footer}}
        <p>I can't help you</p>
    </body>
</html>