<!DOCTYPE html>

<html>

    <head>
<<<<<<< HEAD
        {{>links}}
=======
        <link rel="stylesheet" href="/css/styles.css">
>>>>>>> 9a964441d061ad3b6adce14693e7c67593c4121c
        <link rel="icon" href="/pics/cloud.png">
    </head>

    <body>
        <div class= "main-content">
            {{>header}}
<<<<<<< HEAD
            <p1>Enter a location below to obtain current weather, or try our new random feature</p1>
=======
            <p>Enter your location below for current weather</p>
>>>>>>> 9a964441d061ad3b6adce14693e7c67593c4121c
            <form>
                <input>
                <button>Search</button>
            </form>
<<<<<<< HEAD
            <button id="random-btn">Random Major City</button>
            <p2 id="message-2"></p2>
            <p3 id="message-1"></p3>
        </div>
        
        
=======
            <p id="message-2"></p>
            <p id="message-1"></p>
        </div>
        
>>>>>>> 9a964441d061ad3b6adce14693e7c67593c4121c
        {{>footer}}

    <!-- this is after all the other stuff to keep up from getting error -->
    <script src="/js/app.js"></script>
    </body>

    

</html>