<!DOCTYPE html>

<html>
    <head>
<<<<<<< HEAD
        {{>links}}
=======
        <link rel="stylesheet" href="css/styles.css">
>>>>>>> 9a964441d061ad3b6adce14693e7c67593c4121c
        <link rel="icon" href="pics/cloud.png">
    </head>

    <body>
        {{>header}}
            <p>Location: {{location}}</p>
            <p>temp is {{temp}}</p>
            <p>conditions: {{description}}</p>
        {{>footer}}
    </body>

</html>