<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" href="pics/cloud.png">
    </head>

    <body>
        {{>header}}
            <p>Location: {{location}}</p>
            <p>temp is {{temp}}</p>
            <p>conditions: {{description}}</p>
        {{>footer}}
    </body>

</html>